<html>
<head>
<title>New post</title>
</head>
<body style= "background-color:#84FF71;">
<h2 align="center" style="color:#FF3159;">New post</h2>
<form action="/new_post" method="post" style="color:#CC3F13;">
Title:<input type="text" name="title"/><br><br>
Comment:<br><textarea name ="comment"></textarea><br>
<input type="submit"/>
</form>
<ul>
<li><a href="index" style= "color:#99695B;font-weight:bold;">Show all posts</a></li>
<li><a href="/" style= "color:#99695B;font-weight:bold;">Home</a></li>
</ul>
</body>
</html>
